{{- partial "momship-head.html" . }}
  <body>
    <div id='content'>
      <h1><a href="{{ with .Params.title_url }}{{ . }}{{ else }}{{ .Permalink }}{{ end }}">Mothership</a></h1>
      <h2>{{ .Title }}</h2>
      {{ .Content }}
      {{- with .Params.commentary }}
      <h2>Commentary</h2>
      {{- range . }}
      <div class="commentary">
          {{ . | markdownify }}
      </div>
      {{- end }}
      {{- end }}
      <footer>
        <p>Site designed and built by <a href="https://funkaoshi.com">Ramanan Sivaranjan</a>. Greg got me calling Mothership Momship.</p>
      </footer>
    </div>
  </body>
</html>
