<article class="{{ post.category }}">
    {% if post.category != 'microblog' %}
    <hgroup>
        <h1>
            {% if post.category == 'play-report' %}Play Report:{% endif %}
            {% if post.category == 'review' %}Review:{% endif %}
            <a href="{{ post.url }}">{{ post.title }}</a>
        </h1>
        <p>
            by Ramanan Sivaranjan on {{ post.date | date: "%B %d, %Y" }}
        </p>
        <p>
            Tagged:
            {% for tag in post.tags %}
            <a class="tag_list_link" href="/tag/{{ tag }}">{{ tag }}</a>
            {% endfor %}
        </p>
    </hgroup>
    {% endif %}

    {% if post.category == 'microblog' %}
    <p class="permalink">
        <a href="{{ post.url }}">#</a> <br />
        {{ post.date | date: "%d"}} <br />
        {{ post.date | date: "%B" }} <br />
        {{ post.date | date: "%Y" }} <br />
    </p>
    {% endif %}
	
    {{ post.content }}
    
    <!-- pull comments from bluesky -->
    {% if page.bluesky %}
    <div id="comments-container">
    <h3>Comments from BlueSky</h3>
    <bluesky-comments url="{{ post.bluesky }}"></bluesky-comments>

    <!-- feels like a security issue waiting to happen grabbing some random JS 
         and running it on my site. -->
    <script type="module">import "https://esm.sh/bluesky-comments-tag/load";</script>
    </div>
    {% endif %}
</article>
