<article class="{{ .Section }}">
    {{- if ne .Section "microblog" }}
    <hgroup>
        <h1>
            {{- if eq .Section "play-report" }}Play Report:{{ end }}
            {{- if eq .Section "review" }}Review:{{ end }}
            <a href="{{ .Permalink }}">{{ .Title | safeHTML }}</a>
        </h1>
        <p>
            by Ramanan Sivaranjan on {{ .Date.Format "January 02, 2006" }}
        </p>
        <p>
            Tagged:
            {{- range .Params.tag }}
            <a class="tag_list_link" href="/tag/{{ . }}">{{ . }}</a>
            {{- end }}
        </p>
    </hgroup>
    {{- else }}
    <p class="permalink">
        <a href="{{ .Permalink }}">#</a> <br />
        {{ .Date.Format "02" }} <br />
        {{ .Date.Format "January" }} <br />
        {{ .Date.Format "2006" }} <br />
    </p>
    {{- end }}

    {{ .Content }}
</article>
