
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
/>

<nav class="webring webring--icon-rail" aria-label="Webring">
  <span class="rail-label"><a href="https://rootr.ing/">rootring</a></span>

  <a href="https://rootr.ing/prev?site=https://save.vs.totalpartykill.ca/" aria-label="Previous site in the ring">
    <i class="fa-solid fa-arrow-left" aria-hidden="true"></i>
    <span>Prev</span>
  </a>

  <a href="https://rootr.ing/random" aria-label="Random site in the ring">
    <i class="fa-solid fa-shuffle" aria-hidden="true"></i>
    <span>Random</span>
  </a>

  <a href="https://rootr.ing/directory" aria-label="Browse the ring">
    <i class="fa-solid fa-list" aria-hidden="true"></i>
    <span>Ring</span>
  </a>

  <a href="https://rootr.ing/next?site=https://save.vs.totalpartykill.ca/" aria-label="Next site in the ring">
    <span>Next</span>
    <i class="fa-solid fa-arrow-right" aria-hidden="true"></i>
  </a>
</nav>

<style>
  .webring--icon-rail {
    border: 1px solid grey;
    border-bottom: 0px;
    text-align: center;
    align-items: center;
    font: inherit;
    font-size: .8rem;
    letter-spacing: .08em;
    text-transform: uppercase;
    opacity: .75;
    word-spacing: .5em;
  }

  .webring--icon-rail a {
    display: inline-flex;
    align-items: center;
    gap: .35rem;
    text-decoration: none;
  }

  .webring--icon-rail a:hover {
    text-decoration: underline;
  }

  .webring--icon-rail i {
    font-size: .9em;
    opacity: .9;
  }
</style>
