Redirect /review/2012/05/29/crawl-fanzine/ /review/crawl-fanzine/
Redirect /grabbag/he-man/ /grab-bag/he-man/
Redirect /grab-bag/hexkit/ /grab-bag/marshes/
Redirect /blog/baroviania-session-7/ /play-report/baroviania-session-7/
Redirect /blog/dwimmermount-osrcon-level-2/ /play-report/dwimmermount-osrcon-level-2/
Redirect /blog/dwimmermount-osrcon-level-1/ /play-report/dwimmermount-osrcon-level-1/
Redirect /blog/dead-again/ /play-report/dead-again/
Redirect /blog/total-party-kill/ /play-report/total-party-kill/
Redirect /blog/broken-web-apps/ /meta/broken-web-apps/
Redirect /blog/dmg-thieves/ /blog/reading-the-dmg-ii/
Redirect /review/carcosa-II/ /review/carcosa-ii/
Redirect /review/carcosa-III/ /review/carcosa-iii/
Redirect /blog/city-by-the-silt-sea/ /review/city-by-the-silt-sea/
Redirect /blog/an-adventure/ /review/an-adventure/
Redirect /blog/pits-perils/ /review/pits-perils/
Redirect /blog/dessert-lotus/ /blog/desert-lotus/
Redirect /blog/nan-s-bag-of-sweets/ /blog/nans-bag-of-sweets/
Redirect /blog/song-of-blades-and-heroes/ /review/song-of-blades-and-heroes/
Redirect /blog/age-of-fantasy-skirmish/ /review/age-of-fantasy-skirmish/
Redirect /blog/more-kill-team/ /review/more-kill-team/
Redirect /microblog/satire-without-purpose-will-wander-in-dark-places/ /blog/satire-without-purpose-will-wander-in-dark-places/
Redirect /campaings-and-games/thronetaker2023/ /campaigns/thronetaker2023/
Redirect /campaigns-and-games/torchbearer/ /campaigns/torchbearer/
Redirect /blog/quantum-hit-points/ /blog/epistles-2/
Redirect /microblog/the-fundamental-theorem-of-gaming/ /blog/the-fundamental-theorem-of-gaming/
Redirect /blog/constant-downpour-remastered/ /review/constant-downpour-remastered/
Redirect /microblog/keying-dungeons/ /blog/keying-dungeons/
# drop old sections I stopped using
Redirect /meta/broken-web-apps/ /microblog/broken-web-apps/
Redirect /meta/google-plus/ /microblog/google-plus/
Redirect /link/appendix-n-adventure-toolkits-kickstarter/ /microblog/appendix-n-adventure-toolkits-kickstarter/
Redirect /link/bag-of-holding-reads-chainmail/ /microblog/bag-of-holding-reads-chainmail/
Redirect /link/barrowmaze-indiegogo/ /microblog/barrowmaze-indiegogo/
Redirect /link/brom-kickstarter/ /microblog/brom-kickstarter/
Redirect /link/dungeon-of-signs/ /microblog/dungeon-of-signs/
Redirect /link/gax-beholder/ /microblog/gax-beholder/
Redirect /link/gorgonmilk/ /microblog/gorgonmilk/
Redirect /link/le-chaudron-chromatique/ /microblog/le-chaudron-chromatique/
Redirect /link/lotfp-summon/ /microblog/lotfp-summon/
Redirect /link/on-the-blue-mage/ /microblog/on-the-blue-mage/
Redirect /link/osrcon-2012-roundup/ /microblog/osrcon-2012-roundup/
Redirect /link/osrcon-i/ /microblog/osrcon-i/
Redirect /link/the-b1-index/ /microblog/the-b1-index/
Redirect /link/the-origins-carcosa/ /microblog/the-origins-carcosa/
Redirect /link/untimately/ /microblog/untimately/
# move blogposts to play report
Redirect /blog/masters-of-carcosa-session-1/ /play-report/masters-of-carcosa-session-1/
Redirect /blog/masters-of-carcosa-session-10/ /play-report/masters-of-carcosa-session-10/
Redirect /blog/masters-of-carcosa-session-11/ /play-report/masters-of-carcosa-session-11/
Redirect /blog/masters-of-carcosa-session-12/ /play-report/masters-of-carcosa-session-12/
Redirect /blog/masters-of-carcosa-session-13/ /play-report/masters-of-carcosa-session-13/
Redirect /blog/masters-of-carcosa-session-14/ /play-report/masters-of-carcosa-session-14/
Redirect /blog/masters-of-carcosa-session-15/ /play-report/masters-of-carcosa-session-15/
Redirect /blog/masters-of-carcosa-session-16/ /play-report/masters-of-carcosa-session-16/
Redirect /blog/masters-of-carcosa-session-17/ /play-report/masters-of-carcosa-session-17/
Redirect /blog/masters-of-carcosa-session-18/ /play-report/masters-of-carcosa-session-18/
Redirect /blog/masters-of-carcosa-session-19/ /play-report/masters-of-carcosa-session-19/
Redirect /blog/masters-of-carcosa-session-2/ /play-report/masters-of-carcosa-session-2/
Redirect /blog/masters-of-carcosa-session-20/ /play-report/masters-of-carcosa-session-20/
Redirect /blog/masters-of-carcosa-session-21/ /play-report/masters-of-carcosa-session-21/
Redirect /blog/masters-of-carcosa-session-22/ /play-report/masters-of-carcosa-session-22/
Redirect /blog/masters-of-carcosa-session-23/ /play-report/masters-of-carcosa-session-23/
Redirect /blog/masters-of-carcosa-session-3/ /play-report/masters-of-carcosa-session-3/
Redirect /blog/masters-of-carcosa-session-4/ /play-report/masters-of-carcosa-session-4/
Redirect /blog/masters-of-carcosa-session-5/ /play-report/masters-of-carcosa-session-5/
Redirect /blog/masters-of-carcosa-session-6/ /play-report/masters-of-carcosa-session-6/
Redirect /blog/masters-of-carcosa-session-7/ /play-report/masters-of-carcosa-session-7/
Redirect /blog/masters-of-carcosa-session-8/ /play-report/masters-of-carcosa-session-8/
Redirect /blog/masters-of-carcosa-session-9/ /play-report/masters-of-carcosa-session-9/
Redirect /blog/horus-heresy-age-of-darkness/ /play-report/horus-heresy-age-of-darkness/
Redirect /blog/battle-of-bastionland/ /play-report/battle-of-bastionland/
