<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=748, maximum-scale=1.0"/>
    <title>Save vs. Total Party Kill - {{ page.title }}</title>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,300italic' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/modernizr.custom.75005.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/css/site.css?23-Mar-2013">
<link rel="alternate" title="{{ site.title }}" type="application/json" href="{{ "/feed.json" | prepend: site.baseurl | prepend: site.url }}" />
    <link rel="alternate" type="application/atom+xml" title="Save vs. Total Party Kill (atom feed)" href="/atom.xml"/>
    <link rel="alternate" type="application/rss+xml" title="Save vs. Total Party Kill (rss feed)" href="/rss.xml"/>

    <link rel="icon" type="image/png" href="/assets/img/favicon.png" />
    <link rel="apple-touch-icon-precomposed" href="/assets/img/apple-touch-icon-precomposed.png" />
<!--[if !IE]>-->
    <link type="text/css" rel="stylesheet" media="only screen and (max-device-width: 480px)" href="/assets/css/mobile.css" />
<!--<![endif]-->
    {% include analytics.html %}
    {% if page.css %}
    <style type="text/css" media="screen">
    {{ page.css }}
    </style>
    {% endif %}
  </head>
  <body>
    <div id='content'>
	  <img src="/assets/img/awards_text.png" 
	       alt="Ramanan Sivaranjan Awards for Excellence in Gaming"
	       style="margin-left:-2em; margin-top:2em; width:44em">
      <nav id="site-navigation">
        <p>
          <a href="/">Home</a> |
          <a href="/about/">About</a> |
          <a href="/archive/">Archive</a> |
          <strong>Awards</strong> |
          <a href="/characters/">Characters</a> |
          <a href="/masters-of-carcosa">Masters of Carcosa</a> |
          <a href="/web-apps/">D&amp;D Web Apps</a> |
          <a href="/grab-bag/">Grab Bag</a>
        </p>
      </nav>
      <img src="/assets/img/awards_portrait.png"
	       style="float:right; width:380px; -webkit-shape-outside:circle(); shape-outside:circle();"> 
	  {{ content }}
      <footer>
        <p>Site designed and built by <a href="http://funkaoshi.com">Ramanan Sivaranjan</a>. Awards logo by <a href="https://betterlegends.com">Sam Mameli</a></p>
      </footer>
    </div>
  </body>
</html>
