---
layout: character_sheet
---
<h2 class="system">{{ page.system }}</h2>
<h1>{{ page.title }}</h1>
<h2>Currently located in {{ page.location }}</h2>

{% if page.portrait and page.background_img == false %}
<img class="portrait" src="{{ page.portrait }}">
{% endif %}

<table class="attr">
    <tr>
        <td><strong>STR</strong>: {{ page.attributes.str }}</td>
		<td><strong>INT</strong>: {{ page.attributes.int }}</td>
		<td><strong>WIS</strong>: {{ page.attributes.wis }}</td>
    </tr>
    <tr>
        <td><strong>DEX</strong>: {{ page.attributes.dex }}</td>
		<td><strong>CON</strong>: {{ page.attributes.con }}</td>
		<td><strong>CHA</strong>: {{ page.attributes.cha }}</td>
    </tr>
</table>

<table>
    <tr>
        <td class="save">Death Ray or Poison</td>
		<td>{{ page.saves.death }}</td>
		<td><strong>HP</strong>: {{ page.hp }}</td>
    </tr>
    <tr>
        <td class="save">Magical Wands</td>
		<td>{{ page.saves.wands }}</td>
		<td><strong>AC</strong>: {{ page.ac }}</td>
    </tr>
    <tr>
        <td class="save">Paralysis</td>
		<td>{{ page.saves.stone }}</td>
		<td><strong>XP</strong>: {{ page.xp }} </td>
    </tr>
    <tr>
        <td class="save">Dragon Breath</td>
		<td>{{ page.saves.breath }}</td>
		<td></td>
    </tr>
    <tr>
        <td class="save">Magic</td>
		<td>{{ page.saves.magic }}</td>
		<td></td>
    </tr>
</table>

<table class="weapon">
    <tr>
        <td><strong>AC</strong></td>
        {% for i in (1..10) %}
        <td>{{ 10|minus:i }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td><strong>Roll</strong></td>
        {% for i in (0..9) %}
        <td>{{ page.THAC9|plus:i }}</td>
        {% endfor %}
    </tr>
</table>

{{ content }}
