<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>{{ page.title }}</title>
        <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Josefin+Slab:400,700|Metamorphous'
              rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="http://character.totalpartykill.ca/static/create.css"
              rel='stylesheet' type="text/css" charset="utf-8">
        <style type="text/css" media="screen">
        p.header, p.footer { text-align: center }
        h4 { margin-bottom:4px; margin-top: 8px; }
        img.portrait { 
            border: 1px solid black; margin-left: -1px;
        }
        {% if page.portrait and page.background_img %}
        body { 
            background: url({{ page.portrait }}) no-repeat fixed bottom left; 
            background-size: 500px auto;
        }
        #container {
            margin-left: 500px;
        }
        {% endif %}
        </style>
    </head>
    <body>
        <div id="container">
			<p class="header">Go back to <a href="http://save.vs.totalpartykill.ca/characters/">Save vs. Total Party Kill</a>.</p>
			
			{{ content }}
			
			<p class="footer">Go back to <a href="http://save.vs.totalpartykill.ca/characters/">Save vs. Total Party Kill</a>.</p>
		</div>
	</body>
</html>