<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=740, maximum-scale=1.0"/>
    <title>Save vs. Total Party Kill - {{ page.title }}</title>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/modernizr.custom.75005.js"></script>    
    <link rel="stylesheet" type="text/css" href="/assets/css/site.css?2013-02-02-8-39">
    <link rel="alternate" type="application/atom+xml" title="Save vs. Total Party Kill (atom feed)" href="/atom.xml"/>
    <link rel="alternate" type="application/rss+xml" title="Save vs. Total Party Kill (rss feed)" href="/rss.xml"/>
    <link rel="icon" type="image/png" href="/assets/img/favicon.png" />
    <link rel="apple-touch-icon-precomposed" href="/assets/img/apple-touch-icon-precomposed.png" />
    {% include analytics.html %}
  </head>
  <body>
    <div id='content'>
      <header>
        <!-- <h2><a href="http://funkaoshi.com/">A funkaoshi Production</a> Presents &hellip;</h2> -->
        <img src="/assets/img/save-vs-total-party-kill-header@2x.jpg" 
             alt="A monster on the verge of eating an adventurer."
             width="700" height="227">
        <!-- <h1 id="responsive">Save vs. Total Party Kill</h1> -->
      </header>
      <nav>
        <p>
            <a href="/">Home</a> | 
            <a href="/about/">About</a> | 
            <a href="/archive/">Archive</a> | 
            <a href="/bookshelf/">Bookshelf</a> | 
            <a href="/characters/">Characters</a>
        </p>
        <p>
            <strong>Web Apps:</strong>
            <a href="http://carcosa.totalpartykill.ca">Carcosa</a> | 
            <a href="http://character.totalpartykill.ca/">Random Character</a> | 
            <a href="http://summon.totalpartykill.ca/">LotFP Summon Spell</a>
        </p>
      </nav>
      {{ content }}
      <footer>
        <p>Site designed and built by <a href="http://funkaoshi.com">Ramanan Sivaranjan</a>.</p>
      </footer>
    </div>
    </body>
</html>
